"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" IdeaVim settings
if has('ide')
    " -- Settings -- 
    set ideamarks " Sync IntellIJ bookmarks and Vim marks
    set idearefactormode=keep " Keep the mode that was enabled before refactoring
    
    " -- GoTo keybinding --
    map gd <Action>(GotoDeclaration)
    map gn <Action>(GotoNextError)
    map gi <Action>(GotoImplementation)
    map gt <Action>(GotoTest)
    map gu <Action>(FindUsages)

echo -e '

" Press `f` to activate AceJump
map f <Action>(AceAction)
" Press `F` to activate Target Mode
map F <Action>(AceTargetAction)
" Press `g` to activate Line Mode
map g <Action>(AceLineAction)

' >> ~/.ideavimrc
    
" Don't use Ex mode, use Q for formatting.
map Q gq

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
